<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>Es02</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!--Bootstrap-->
    <link rel="stylesheet" href="Bootstrap/bootstrap.min.css">
    <!--Css-->
    <link rel="stylesheet" type="text/css" href="css/main.css" />
</head>
<body>
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary" id="v-navbar">
        <a class="navbar-brand" href="#">Es01</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active"><a class="nav-link" href="#">Page2</a></li>
                <li class="nav-item active"><a class="nav-link" href="#">Page3</a></li>
                <li class="nav-item active"><a class="nav-link" href="#">Page4</a></li>
                <li class="nav-item active"><a class="nav-link" href="#">Page5</a></li>
            </ul>
            <div class="form-inline my-2 my-lg-0">
                <span class="text-light">Signed in as:</span><a class="nav-link text-light font-weight-bold" href="#">{{login_username}}</a>
                <button class="btn btn-outline-light my-2 my-sm-0" v-on:click="Logout">Logout</button>
            </div>
        </div>
    </nav>

    <!-- Jumbotron -->
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-4">Prenotazione ombrelloni</h1>
            <p class="lead">Brero Riccardo. Esercitio di TPSI per i compiti delle vacanze, servizio di prenotazione ombrelloni.</p>
        </div>
    </div>

    <div class="container">
        <div class="row no-gutters">
            <div class="col" id="v-formdate">
                <h3 class="mb-4">Intervallo prenotazione</h3>
                <div class="form-group">
                    <label>
                        Data di inizio:
                        <input v-model="date_start" type="date" max="2018-09-15" min="2018-06-01" class="form-control">
                    </label>
                    <label>
                        Data di fine:
                        <input v-model="date_end" type="date" max="2018-09-15" min="2018-06-01" class="form-control">
                    </label>
                </div>
                <p v-if="errors" class="alert-danger float-left pl-4 pr-4">{{error_text}}</p>
            </div>
            <div class="col-4 ml-lg-5">
                <h3 class="mb-4">Informazioni</h3>
                <p>Ogni ombrellone può essere prenotato nel periodo tra il 1 giugno e il 15 settembre, per un minimo di 7 giorni e un massimo di 107 (intera stagione).</p>
            </div>
        </div>
    </div>
    <div class="container mt-5">
        <h3 class="text-center">Mappa ombrelloni:</h3>
        <canvas class="main-canvas"></canvas>
    </div>
    <div class="container">
        <button class="btn btn-primary float-right">Conferma prenotazione</button>
    </div>
    <div class="container"><h6 class="mt-2">Posto selezionato: </h6></div>

    <!-- Footer -->
    <footer class="bg-primary mt-5">
        <div class="text-light text-center py-3">&copy; 2018 Copyright: <a class="text-light font-weight-bold" href="#"> Riccardo Brero</a></div>
    </footer>

    <!--Bootstrap-->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/js/bootstrap.min.js" integrity="sha384-o+RDsa0aLu++PJvFqy8fFScvbHFLtbvScb8AjopnFD+iEQ7wo/CG0xlczd+2O/em" crossorigin="anonymous"></script>

    <!--Js-->
    <script src="Libraries/Vue/vue.js"></script>
    <script src="Libraries/AwesomeDB/AwesomeDB.js"></script>
    <script src="main.js"></script>
</body>
</html>