<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Es01</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!--Bootstrap-->
    <link rel="stylesheet" href="Bootstrap/bootstrap.min.css">
    <!--Css-->
    <link rel="stylesheet" type="text/css" href="css/signin.css"/>
</head>
<body class="text-center">

    <div class="form-signin" id="formroot">
        <img class="mb-4" src="Img/bootstrap-solid.svg" alt="" width="72" height="72">
        <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
        <label for="inputEmail" class="sr-only">Email address</label>
        <input type="email" id="inputEmail" v-model="email" @focus="errors=false" class="form-control" placeholder="Email address" required>
        <label for="inputPassword" class="sr-only">Password</label>
        <input type="password" id="inputPassword" v-model="password" @focus="errors=false" class="form-control" placeholder="Password" required>
        <div class="checkbox mb-3">
            <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="customCheck1" checked v-model="remember">
                <label class="custom-control-label" for="customCheck1">Remember me</label>
            </div>
        </div>
        <p v-if="errors" class="alert-danger">{{errorText}}</p>
        <button class="btn btn-lg btn-primary btn-block" @click="SingIn">Sign in</button>
        <p class="mt-5 mb-3 text-muted">© 2018-2019</p>
    </div>
    
    <!--Bootstrap-->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/js/bootstrap.min.js" integrity="sha384-o+RDsa0aLu++PJvFqy8fFScvbHFLtbvScb8AjopnFD+iEQ7wo/CG0xlczd+2O/em" crossorigin="anonymous"></script>

    <!--Js-->
    <script src="Vue/vue.js"></script>
    <script src="singin.js"></script>
</body>
</html>